:root { --button-text-color: white;
        --button-color-hover: blue;
         --font-family: "Roboto", sans-serif;
         --second-family: "Raleway", sans-serif;
         --iris: #4d5ae5;
         --ocean: #404bbf;
         --navy-blue: #2e2f42;
         --green: #31d0aa;
         --slate: #434455;
         --light-slate: #8e8f99;
         --cornflower: #e7e9fc;
         --cloud: #f4f4fd;
         --navy-blue-modal: rgba(46, 47, 66, 0.4);
         --grey: rgba(46, 47, 66, 0.7);
         --white: #fff;
         --dairy: #fcfcfc;
       }
         
                    
.body {
    font-family: var(--font-family);
    
}
.Top-Nav{ font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

}
.contacts-top a:hover,.contacts-top a:focus{color: red;}

.buttons button:hover,.buttons button:focus
{color:var(--button-text-color);
    background-color:var(--button-color-hover);
     cursor: pointer;
}
